.editor-container {
  padding: 5px;
  height: 50vh;
  width: 50%;
}

.editor-header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title {
  flex: 70%;
  font-weight: bold;
  font-size: 2em;
}
